.display {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 12rem;
    min-height: 3rem;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 4px;
    margin: 10px 0;
}
