.main-container {
    border: 5px solid orange;
    background-color: lightgray;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 10px;
}
