.drum-pad {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px 4px black;
    padding: 4px;
    margin: 4px;
}

.text {
    font-size: 1.3em;
}

.clip {
    
}
