.drum-pad {
    background-color: gray;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px 6px black;
    padding: 4px;
    margin: 4px;
}
