@import 'globalVariables';

.main-container {
    border: 5px solid orange;
    background-color: lightgray;
    width: 40rem;
    height: 19.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 10px;
    cursor: default;
}

@media (max-width: $tablet-width) and (orientation: portrait) {
    .main-container {
        width: 24rem;
        height: 40rem;
        flex-direction: column;
    }
}
