@import 'switch', 'globalVariables';

.power-container {
    @extend .switch-container;
    margin: 10px 0 20px 0;
}

.switch-input:checked + .switch-slider {
    background-color: #007a00;
}

@media (max-width: $tablet-width) and (orientation: portrait) {
    .power-container {
        margin: 20px 0 5px 0;
    }
}

@media (max-width: $tablet-width) and (orientation: landscape) {
    .power-container {
        margin: 0 0 5px 0 ;
    }
}
